<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- debug/profile 매니페스트에는 Flutter 툴이 자동으로 넣어주지만(hot reload 통신용),
         release 빌드는 별도 override가 없어 main에 명시하지 않으면 네트워크 자체가 막힌다. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Android 13+(API 33)부터는 알림 표시에 런타임 권한이 필요하다(FCM 수신 자체는 필요 없지만,
         이 권한이 없으면 알림이 시스템 트레이에 나타나지 않는다). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 일지 사진 다운로드(갤러리 저장, gal 패키지)용. Android 10(API 29)부터는 MediaStore로
         이 권한 없이도 저장되지만, minSdkVersion 24 기기(API 29 미만)를 지원하려면 필요하다. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <application
        android:label="Pig.Fig."
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
